.passwordInfo_container{
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap:10px;
    max-width: 400px;
    // height: 200px;
}
.passwordInfo_header{
    font-family: Alegreya Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.passwordInfo_list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:5px;
}
.passwordInfo_listItem{
    font-family: Alegreya Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}
.dark{
    .passwordInfo_container{
        background-color: var(--secondary-blue);
    }
    .passwordInfo_header{
        color:var(--primary-orange);
    }
    .passwordInfo_listItem{
        color:white;
    }
}